<style>
<*>
  {
    box-sizing: border-box;
    box-shadow: blue
  }
h1 
  {
  text-align: center;
  color: blue;
  }

h3 
  {
    box-sizing: border-box;
    float : right;
    text-align: right;
    color: red;
    background-color: grey;
    border: 1px solid black;
  }

  p
  {
    clear: right;
  
  }

section 
  {
  background-color: #00A100;
  padding: 5px;
  margin-right: .5%;
  margin-left: .5%;
  
  margin-bottom: 10px;
  font-family: Helvetica;
  }

@media (min-width: 992px) 
  {
  .colbig 
    {
    float: left;
    border: 1px solid black;
    width : 31%;
    min-height : 350px;
    height : auto;
    box-sizing: border-box;
    }
  }

@media (min-width: 768px) and (max-width: 991px) 
  {
  .colmid2, .colmid1 
    {
    float: left;
    border: 1px solid black;
    min-height : 250px;
    height : auto;
    box-sizing: border-box;
    }
  .colmid2 
    {
    width: 48%;
    }
  .colmid1 
    {
    width: 97%;
    }

@media (max-width: 767px) 
  {
  .colsml 
    {
    height: auto;
    float: left;
    width : 100%;
    }
  }
</style>